.section {
	background-color: rgb(211, 129, 118);
	padding: 1em 0.5em;
	display: flex;
	justify-content: center;
	color: rgb(41, 41, 41);
}

.h2 {
	color: black;
}

.scoreGridCtn {
	padding: 0.5em;
	border: 2px solid rgb(39, 39, 39);
	border-radius: 0.2em;
	width: min-content;
	box-shadow: var(--shadow);
}

.scoreGrid {
	display: grid;
	grid-template-columns: 1fr 30px;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: end;
	column-gap: 1em;
	row-gap: 0.2em;
}

.currentScore,
.bestScore {
	justify-self: start;
}
